.grid-container {
    display: grid;
    background-color:white;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr; 
    margin:180px;
    height: 800px;
    width:800px; 
    gap: 10px; 
  }
  .grid-item {
    background-color:whitesmoke;
    padding: 20px;
  }
  